* {
    padding: 0px;
    margin: 0px auto;
}

div.wrapper {
    width: 1098px;
    height: 700px;
}
/* Bai 2 */
div.bai2{
    width: 500px;
    height: auto;
    box-shadow: 0px 10px 15px;
}

div.bai2 p:nth-child(1) {
    text-indent: 1cm;
    color: red;
    text-align: justify;
}

div.bai2 p:nth-child(3) {
    text-align: right;
    color: blue;
}

div.bai2 p:nth-child(5) {
    text-align: center;
    color: green;
}

div.bai2 p:nth-child(7) {
    text-align: left;
    color: brown;
}

div.bai2 p:nth-child(9) {
    text-decoration: underline;
    color: pink;
}

div.bai2 p:nth-child(11) {
    text-decoration: line-through;
    color: purple;
}

div.bai2 p:nth-child(13) {
    text-decoration: overline;
    color: red;
}

div.bai2 p:nth-child(15) {
    text-decoration: blink;
    color: blue;
    text-align: justify;
    text-shadow: 4px 4px 8px;
}

/* bai2_b */

div.bai2_b {
    width: 500px;
    background-color: aqua;
}

div.bai2_b div:nth-child(1){
    /* display: flex; */
}

div.bai_b div:nth-child(1) div:nth-child(1) {
    display: flex;
}

div.bai2_b div:nth-child(1) div:nth-child(1) p:nth-child(1){
    display: inline-block;
    background-color: blue;
}
div.bai2_b div:nth-child(1) div:nth-child(1) p:nth-child(2){
    display: inline-block;
    background-color: pink;
}
div.bai2_b div:nth-child(1) div:nth-child(1) p:nth-child(3){
    display: inline-block;
    background-color: bisque;
}

div.bai2_b div:nth-child(1) div:nth-child(2) p:nth-child(1){
    display: inline-block;
    background-color: blue;
}
div.bai2_b div:nth-child(1) div:nth-child(2) p:nth-child(2){
    display: inline-block;
    background-color: pink;
}
div.bai2_b div:nth-child(1) div:nth-child(2) p:nth-child(3){
    display: inline-block;
    background-color: bisque;
}